<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 px-3">商品新規登録</h5>
      <%= form_with model: @item,url: admin_items_path,method: :post do |f| %>
      <table class="mx-auto mt-4">
        <thead><td></td><td colspan="1"></td></thead>
      <tbody>
        <tr>
        <td class="pr-5 pb-3">
      <%= f.label :image, "商品画像" %></td>
      <td class=" pb-3">
      <%= f.file_field :image,accept:"image/*" %><br></td></tr>
      <tr>
      <td class=" pb-3">
      <%= f.label :name,"商品名" %></td>
      <td class=" pb-3">
      <%= f.text_field :name %><br></td></tr>
      <tr>
      <td class=" pb-3">
      <%= f.label :introduction,"商品説明" %></td>
      <td class=" pb-3">
      <%= f.text_area :introduction %><br></td></tr>
      <tr>
      <td class=" pb-3">
      <%= f.label :genre_id,"ジャンル名" %></td>
      <td class=" pb-3">
      <%= f.select :genre_id,options_from_collection_for_select(Genre.all,:id,:name),{include_blank: '選択してください'}%>
      </td>
      </tr>
      <tr>
        <td>
          <%= f.label :price,"税抜価格" %>
        </td>
        <td>
          <%= f.text_field :price %>円
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :is_active,"販売ステータス　" %>
        </td>
        <td>
          <%= f.radio_button :is_active,"sale" %>
          <%= f.label :is_active,"販売中" %>
          <%= f.radio_button :is_active,"stop" %>
          <%= f.label :is_active,"販売停止中" %>
        </td>
      </tr>
      <td></td>
      <td class=""><%= f.submit "新規登録",class:"btn btn-success" %></td>
          
      </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>