<div class="contaier">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 px-3">会員一覧</h5>
      <table class="mx-auto mt-4 table" >
        <thead class="bg-light">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.full_name %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == "valider" %>
              <span class="text-success font-weight-bold"><%= customer.is_deleted_i18n %></span>
              <% else %>
              <span class="text-secondary font-weight-bold"><%= customer.is_deleted_i18n %></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>